---
import InstagramFeed from "./InstagramFeed.astro";
import PortfolioGrid from "./PortfolioGrid.astro";

---

<div class="flex flex-col w-full">
    <h1 class="mb-2 text-3xl font-bold text-neutral-800 dark:text-neutral-200 lg:text-4xl">Nossos Projetos</h1>
    <div class="h-[2px] w-full bg-neutral-300 dark:bg-neutral-700 mb-6" />
    <PortfolioGrid />
    <!-- <InstagramFeed /> -->
</div>